.background{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
#quote-box{
    width: 500px;
    margin: 0 auto;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding:2rem;
    text-align: left;
    background-color: #444;
    border-radius: 8px;
    box-shadow: 5px 5px 10px  rgb(18, 13, 13);
}
.quote-content{
    height:220px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
}
#author{
    text-align: right;
}
button,a{
    border-radius: 15px;
    border: 1px solid white;
    padding: 20px 10px;
    width: fit-content;
    font-weight: 500;
    background:#1a1a1a;
    cursor: pointer;
    color: white;
    font-size: 1em;
    font-family: inherit;
    vertical-align: middle;
}